<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>verify</servlet-name>
        <servlet-class>verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pass_update</servlet-name>
        <servlet-class>pass_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_login</servlet-name>
        <servlet-class>new_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_new_event</servlet-name>
        <servlet-class>add_new_event_form</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myjournal</servlet-name>
        <servlet-class>myjournal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_new_events</servlet-name>
        <servlet-class>add_new_events</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>event_complete</servlet-name>
        <servlet-class>event_complete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_event</servlet-name>
        <servlet-class>start_timer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modify_event_form</servlet-name>
        <servlet-class>modify_event_form</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modify_event</servlet-name>
        <servlet-class>modify_event</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>start_hours_timer</servlet-name>
        <servlet-class>start_hours_timer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stop_timer</servlet-name>
        <servlet-class>stop_timer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>summary</servlet-name>
        <servlet-class>summary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_previous_work</servlet-name>
        <servlet-class>add_previous_work</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_previous_work_form</servlet-name>
        <servlet-class>add_previous_work_form</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verify</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pass_update</servlet-name>
        <url-pattern>/pass_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_login</servlet-name>
        <url-pattern>/new_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_new_event</servlet-name>
        <url-pattern>/add_new_event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myjournal</servlet-name>
        <url-pattern>/myjournal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_new_events</servlet-name>
        <url-pattern>/add_new_events</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>event_complete</servlet-name>
        <url-pattern>/event_complete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_event</servlet-name>
        <url-pattern>/delete_event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modify_event_form</servlet-name>
        <url-pattern>/modify_event_form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modify_event</servlet-name>
        <url-pattern>/modify_event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>start_hours_timer</servlet-name>
        <url-pattern>/start_hours_timer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stop_timer</servlet-name>
        <url-pattern>/stop_timer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>summary</servlet-name>
        <url-pattern>/summary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_previous_work</servlet-name>
        <url-pattern>/add_previous_work</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_previous_work_form</servlet-name>
        <url-pattern>/add_previous_work_form</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
